<section class="container-fluid pb-5">
    <nav class="navbar navbar-expand-md bg-white bg-opacity-75 navbar-light fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-column" id="navbarCollapse">
                <div class="navbar-nav">
                    <div class="row">
                        <div class="col-md-auto px-lg-5">
                            <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Главная</a>
                        </div>
                        <div class="col-md-auto px-lg-5">
                            <div class="nav-item dropdown d-none d-md-block">
                                <a class="nav-link" href="{% url 'psy' %}" id="navbarDropdown"
                                   aria-haspopup="true" aria-expanded="false">Психология</a>
                                <div class="dropdown-menu max" aria-labelledby="navbarDropdown">
                                    {% for item in psy_list %}
                                        <a class="dropdown-item" href={% url 'psy' %}#{{ item.id }}>{{ item.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="nav-item dropdown d-md-none">
                                  <div class="container p-0">
                                    <div class="row">
                                        <div class="col-1 position-relative">
                                            <button type="button"
                                                    class="btn btn-sm dropdown-toggle dropdown-toggle-split" data-bs-auto-close="outside"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    aria-haspopup="true">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                {% for item in psy_list %}
                                                    <a class="dropdown-item" href={% url 'psy' %}#{{ item.id }}>{{ item.title }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col p-0">
                                            <a class="nav-link" id="navbarDropdown" href="{% url 'psy' %}"
                                               aria-haspopup="true" aria-expanded="false">Психология</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto px-lg-5">
                            <div class="nav-item dropdown d-none d-md-block">
                                <a class="nav-link" href="{% url 'business' %}" id="navbarDropdown"
                                   aria-haspopup="true" aria-expanded="false">Бизнес-тренинги</a>
                                <div class="dropdown-menu max" aria-labelledby="navbarDropdown">
                                    {% for item in business_list %}
                                        <a class="dropdown-item" href={% url 'business' %}#{{ item.id }}>{{ item.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="nav-item d-md-none">
                                <div class="container p-0">
                                    <div class="row">
                                        <div class="col-1 position-relative">
                                            <button type="button" data-bs-auto-close="outside"
                                                    class="btn btn-sm dropdown-toggle dropdown-toggle-split"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    aria-haspopup="true">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu start" aria-labelledby="navbarDropdown">
                                                {% for item in business_list %}
                                                    <a class="dropdown-item"
                                                       href={% url 'business' %}#{{ item.id }}>{{ item.title }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-3 p-0">
                                            <a class="nav-link" id="navbarDropdown" href="{% url 'business' %}"
                                               aria-haspopup="true" aria-expanded="false">Бизнес-тренинги</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto px-lg-5">
                            <div class="nav-item dropdown d-none d-md-block">
                                <a class="nav-link" href="{% url 'health' %}" id="navbarDropdown"
                                   aria-haspopup="true" aria-expanded="false">Здоровье и красота</a>
                                <div class="dropdown-menu max" aria-labelledby="navbarDropdown">
                                    {% for item in health_list %}
                                        <a class="dropdown-item" href={% url 'health' %}#{{ item.id }}>{{ item.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="nav-item dropdown d-md-none">
                                  <div class="container p-0">
                                    <div class="row">
                                        <div class="col-1 position-relative">
                                            <button type="button" data-bs-auto-close="outside"
                                                    class="btn btn-sm dropdown-toggle dropdown-toggle-split"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    aria-haspopup="true">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu start" aria-labelledby="navbarDropdown">
                                                {% for item in health_list %}
                                                    <a class="dropdown-item"
                                                       href={% url 'health' %}#{{ item.id }}>{{ item.title }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col p-0">
                                            <a class="nav-link" id="navbarDropdown" href="{% url 'health' %}"
                                               aria-haspopup="true" aria-expanded="false">Здоровье и красота</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>
